body {
font-family: "Lato";
background:url(../images/ffflux.svg);
margin:0px;
}


nav {
  padding: 20px 20px 5px 20px;
  font-size: 15px;
  background-color: rgb(255, 255, 255);

}

.logoImg {
  width: 80px;
}


#DivDivForLogCreate{
  height:93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Log-create-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  width: 700px;
  padding: 40px;
  background-color: white;
  color: black;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
input {
  border-radius: 20px;
  border: 0.02px solid rgb(230, 229, 229);
  /* border-style: groove; */
  height: 20px;
  width: 200px;
  margin-top: 10px;
}

.Log-create-button,
.loginButton{
  width: 130px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 142px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;

  background: rgb(0, 0, 0);
  color:white;
  margin-top: 10px;
}
.Log-create-button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}
.Log-create-button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}

input[type="radio"]:checked + label > img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px#e2a7df;
}

/* hiding the button, only show image */
input[type="radio"] {
  opacity: 0;
}
.label-image {
  width: 30px;
  height: 40px;
}

.pick-Character {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 5px; */
  padding: 20px; 
}
