body {
  background-color: white;
  margin: 0%;
}

/* nav {
  margin: -1rem;
  padding: 20px 20px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  top: 0px;
} */
ul {
  padding: 0px;
}
li {
  list-style: none;
  /* text-align: center;
  height: 22px;
  width: 55px;
  border: 1px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px; */
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

/* The top part of the screen */

#userPlay {
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

.userStuff {
  display: flex;
  flex-direction: row;

  border-bottom: rgb(184, 184, 184) solid 0.5px;
  /* justify-content: space-between; */
  height: 10vh;
}

.userNamePfp {
  /* display: flex;
  flex-direction: column;
  padding:0%; */
  width:50%;
}

.ScoreDiv {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5e3f1;
  border-radius: 5px;
  height: 80%;
  width: 15%;
  margin-left:50%;
}

/* Everything in the center of the screen */
.intro-box {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  /* border: solid; */
  height: 90vh;
}

.testNav {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 5%;
  border-right: rgb(184, 184, 184) solid 0.5px;
}
.testNav button{
  border-radius: 50%;
  background-color: white;
  border:solid grey 0.5px;
  height:50px;
  width:50px;
}

#themeChangeButton{
  background-image: url('../images/darkMode30.png');

}





.TestTodoSection {
  /* border-right: 2px solid grey; */
  width: 67%;
  padding:5%;
  /* border: pink solid; */
}

#divToCreateForm {
  display: none;
}
#createTodoShowBtn{
  border-radius: 50%;
  border:solid grey 0.5px;
  background-color: white;
}

#createTodoShowBtn:hover{
  background-color: rgb(214, 211, 211);
}


#createTodoForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* fix this... */
}


#divToSelectFilterFormToDo{
  display: none;
}

#sortButtonsDiv{
  display: none;
  position: absolute;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border:0.02px solid  rgb(230, 229, 229) ;
  background-color: white;
  /* max-width: 60%; */
  width: 10%;
  height:20%; 
  /* max-height: 40%; */
  border-radius: 10px;
}

#divInSortButtonsDiv{
display:flex;
align-items: flex-start;
flex-direction: column;

}


#sortButtonsDiv button{
  background-color: white;
  border:none;
}
#sortButtonsDiv button:hover{
  background-color: rgb(248, 214, 214);
  border-radius: 5px;
  border:none;
}


/* Lables for task */

.labels{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#taskLabel{
 /* margin-left: 5px; */

}
#priorityLabel{
  /* margin-left: 5px; */

}
#CategoryLabel{
  /* margin-left: 5px; */

}

/* Toggle trash edit  */

.cancel-btn{
  display: none;
}

.EditTitle-btn{
  display: none;
}


/* Todo Section */

.IndToDo {
  display: flex;
  flex-direction: row;
  margin:5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding:2%;
}


.todo {
  text-decoration: none;
  opacity: 1;
}
.IndTitle{
  padding-left:5%;
  width: 20%;
}

.IndPriority{
  width: 20%;
}

.IndCategories{
  width: 20%;
  padding-right:15%;
  background-color: #EE82FF;
  border-radius: 5px;
}


.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.completed .complete-btn{
  background-image: url('../images/check12.png');
}

.complete-btn{
border-radius: 50%;
border:solid grey 0.5px;
background-color: white;
max-width: 14px;
max-height: 14px;
}

.complete-btn:hover{
  background-image: url('../images/check12.png');
  }

  .EditTitle-btn{
    border-radius: 50%;
    border:none;
    background-color: white;
    background-image: url('../images/pencil12.png');
    max-width: 14px;
    max-height: 14px;
  }

  .editingModeCancelIcon.EditTitle-btn{
    background-image: url('../images/check12.png');
  }
  .editingModeNormalIcon.EditTitle-btn{
    background-image: url('../images/pencil12.png');
  }

  .EditTitle-btn:hover{
    background-color: rgb(112, 90, 90);
    
  }





/* Timer section */

.timerSection {
  display: flex;
  flex-direction: column;
}

/* Notes section */



.notesSection {
  width: 28%;

  /* border: pink solid; */
}

.title-field {
  background-color: aqua;
  border-radius: 2px;
  border: 0.3px black;
  /* height: 40%; */
  width: 60%;
  margin-bottom: 8px;
}

.body-field {
  background-color: blueviolet;
  border-radius: 2px;
  border: 0.3px black;
  width: 60%;
  height: 60%;

  max-width: 60%;
  min-width: 60%;
  min-height: 60%;
}

#divToCreateNote {
  display: none;
}

#createNoteForm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 5px;
}

#divToSelectFilterForm{
  display: none;
}

.notes-list {
  width: 90%;
  height: 65px;
}

.note {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
  /* text-decoration: none; */
  list-style-type: none;
  margin-bottom: 10px;

  width: 90%;
  height: 65px;
  overflow-y: hidden;
}
.note:hover {
  background-color: #ff8fab;
}

/* breakpoints */

@media (max-width: 790px) {
  .intro-box {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 80%;
    width: 100%;
  }

  .testNav {
    /* padding-left: 0%; */
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .TestTodoSection {
    border: none;
    width: 50%;
  }

  .notesMain {
    width: 100%;
  }
}

/* Color schemes */

.darkMode {
  background-color: black;
  color: white;
  transition: 1s;
}

.darkMode .intro-box {
  background-color: grey;
  color: white;
}
