.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.note-creation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:10px;
    padding:5px;
}
.notes-list{
    width: 90%;
    height: 65px;
}

.note{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    /* text-decoration: none; */
    list-style-type: none;
    margin-bottom: 10px;
    width: 90%;
    height: 65px;
    overflow-y: hidden;
  }
  .note:hover{
    background-color: rgb(90, 90, 88);
  }


