body {
  background-color: white;
  margin: 0%;
}

/* nav {
  margin: -1rem;
  padding: 20px 20px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  top: 0px;
} */
ul {
  padding: 0px;
}
li {
  list-style: none;
  /* text-align: center;
  height: 22px;
  width: 55px;
  border: 1px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px; */
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

/* The top part of the screen */

#userPlay {
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

.userStuff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:10vh;
}

.userNamePfp {
  display: flex;
  flex-direction: row;
}

.ScoreDiv {
  background-color: #f5e3f1;
  border-radius: 5px;
  height: 20%;
  width: 15%;
}

/* Everything in the center of the screen */
.intro-box {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  border: solid;
  height:80vh;
}


.testNav {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 5%;
  border: pink solid;
}

.TestTodoSection {
  border-right: 2px solid grey;
  width: 67%;
  border: pink solid;
}

#divToCreateForm{
  display:none;
}
#createTodoForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* fix this... */
}

/* Todo Section */
.IndToDo {
  display: flex;
  flex-direction: row;
}
.todo {
  text-decoration: none;
  opacity: 1;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}


/* Timer section */

.timerSection{
  display: flex;
  flex-direction: column;
}



/* Notes section */

.notesSection {
  width: 28%;
  border: pink solid;
}

.title-field{
  background-color: aqua;
  border-radius:2px ;
  border:.3px black;
  /* height: 40%; */
  width:60%;
  margin-bottom:8px;
}

.body-field{
  background-color:blueviolet;
  border-radius:2px ;
  border:.3px black;
  width: 60%;
  height: 60%;

  max-width: 60%;
  min-width:60%;
  min-height: 60%;
}


#divToCreateNote{
  display:none;
}

#createNoteForm{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 5px;


}
.notes-list {
  width: 90%;
  height: 65px;
}

.note {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.28);

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  /* text-decoration: none; */
  list-style-type: none;
  margin-bottom: 10px;

  width: 90%;
  height: 65px;
  overflow-y: hidden;
}
.note:hover {
  background-color: #ff8fab;
}

/* breakpoints */

@media (max-width: 790px) {
  .intro-box {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 80%;
    width: 100%;
  }

  .testNav {
    /* padding-left: 0%; */
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .TestTodoSection {
    border: none;
    width: 50%;
  }

  .notesMain {
    width: 100%;
  }
}

/* Color schemes */


.darkMode {
  background-color: black;
  color: white;
  transition: 1s;
}

.darkMode .intro-box {
  background-color: grey;
  color: white;
}



